<?php
/**
 * DefaultApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * ngDesk_Operations
 *
 * ngDesk_Operations
 *
 * OpenAPI spec version: 2.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * DefaultApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class DefaultApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return DefaultApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation getTicket
     *
     * @param string $ticket_id  (required)
     * @param string $authentication_token  (optional)
     * @param string $category  (optional)
     * @param string $statuses  (optional)
     * @param string $ordered_column  (optional)
     * @param string $ordered_by  (optional)
     * @param string $client_id  (optional)
     * @param string $client_secret  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Ticket
     */
    public function getTicket($ticket_id, $authentication_token = null, $category = null, $statuses = null, $ordered_column = null, $ordered_by = null, $client_id = null, $client_secret = null)
    {
        list($response) = $this->getTicketWithHttpInfo($ticket_id, $authentication_token, $category, $statuses, $ordered_column, $ordered_by, $client_id, $client_secret);
        return $response;
    }

    /**
     * Operation getTicketWithHttpInfo
     *
     * @param string $ticket_id  (required)
     * @param string $authentication_token  (optional)
     * @param string $category  (optional)
     * @param string $statuses  (optional)
     * @param string $ordered_column  (optional)
     * @param string $ordered_by  (optional)
     * @param string $client_id  (optional)
     * @param string $client_secret  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Ticket, HTTP status code, HTTP response headers (array of strings)
     */
    public function getTicketWithHttpInfo($ticket_id, $authentication_token = null, $category = null, $statuses = null, $ordered_column = null, $ordered_by = null, $client_id = null, $client_secret = null)
    {
        // verify the required parameter 'ticket_id' is set
        if ($ticket_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $ticket_id when calling getTicket');
        }
        // parse inputs
        $resourcePath = "/tickets/{ticket_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($authentication_token !== null) {
            $queryParams['authentication_token'] = $this->apiClient->getSerializer()->toQueryValue($authentication_token);
        }
        // query params
        if ($category !== null) {
            $queryParams['category'] = $this->apiClient->getSerializer()->toQueryValue($category);
        }
        // query params
        if ($statuses !== null) {
            $queryParams['statuses'] = $this->apiClient->getSerializer()->toQueryValue($statuses);
        }
        // query params
        if ($ordered_column !== null) {
            $queryParams['ordered_column'] = $this->apiClient->getSerializer()->toQueryValue($ordered_column);
        }
        // query params
        if ($ordered_by !== null) {
            $queryParams['ordered_by'] = $this->apiClient->getSerializer()->toQueryValue($ordered_by);
        }
        // query params
        if ($client_id !== null) {
            $queryParams['client_id'] = $this->apiClient->getSerializer()->toQueryValue($client_id);
        }
        // query params
        if ($client_secret !== null) {
            $queryParams['client_secret'] = $this->apiClient->getSerializer()->toQueryValue($client_secret);
        }
        // path params
        if ($ticket_id !== null) {
            $resourcePath = str_replace(
                "{" . "ticket_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($ticket_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Ticket',
                '/tickets/{ticket_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Ticket', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Ticket', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getTickets
     *
     * @param float $authentication_token User athentication uuid (optional)
     * @param int $start Start query value (optional)
     * @param int $length Number of rows query (optional)
     * @param int $draw Number of times table has been reloaded (optional)
     * @param string $q Values provided in q are tokenized and search on columns: TICKET_ID,SUBJECT,REQUESTOR_UERNAME, REQUESTOR_EMAIL, TICKET_MESSAGES (optional)
     * @param string $sort_by Column name to order table by (optional)
     * @param string $sort_by_order Sort by ascending or descending (optional)
     * @param string $passed_account_id  (optional)
     * @param string $passed_user_id  (optional)
     * @param int $view_id View Id (optional)
     * @param string $client_id API ID (optional)
     * @param string $client_secret API Secret (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Ticket[]
     */
    public function getTickets($authentication_token = null, $start = null, $length = null, $draw = null, $q = null, $sort_by = null, $sort_by_order = null, $passed_account_id = null, $passed_user_id = null, $view_id = null, $client_id = null, $client_secret = null)
    {
        list($response) = $this->getTicketsWithHttpInfo($authentication_token, $start, $length, $draw, $q, $sort_by, $sort_by_order, $passed_account_id, $passed_user_id, $view_id, $client_id, $client_secret);
        return $response;
    }

    /**
     * Operation getTicketsWithHttpInfo
     *
     * @param float $authentication_token User athentication uuid (optional)
     * @param int $start Start query value (optional)
     * @param int $length Number of rows query (optional)
     * @param int $draw Number of times table has been reloaded (optional)
     * @param string $q Values provided in q are tokenized and search on columns: TICKET_ID,SUBJECT,REQUESTOR_UERNAME, REQUESTOR_EMAIL, TICKET_MESSAGES (optional)
     * @param string $sort_by Column name to order table by (optional)
     * @param string $sort_by_order Sort by ascending or descending (optional)
     * @param string $passed_account_id  (optional)
     * @param string $passed_user_id  (optional)
     * @param int $view_id View Id (optional)
     * @param string $client_id API ID (optional)
     * @param string $client_secret API Secret (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Ticket[], HTTP status code, HTTP response headers (array of strings)
     */
    public function getTicketsWithHttpInfo($authentication_token = null, $start = null, $length = null, $draw = null, $q = null, $sort_by = null, $sort_by_order = null, $passed_account_id = null, $passed_user_id = null, $view_id = null, $client_id = null, $client_secret = null)
    {
        // parse inputs
        $resourcePath = "/tickets";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($authentication_token !== null) {
            $queryParams['authentication_token'] = $this->apiClient->getSerializer()->toQueryValue($authentication_token);
        }
        // query params
        if ($start !== null) {
            $queryParams['start'] = $this->apiClient->getSerializer()->toQueryValue($start);
        }
        // query params
        if ($length !== null) {
            $queryParams['length'] = $this->apiClient->getSerializer()->toQueryValue($length);
        }
        // query params
        if ($draw !== null) {
            $queryParams['draw'] = $this->apiClient->getSerializer()->toQueryValue($draw);
        }
        // query params
        if ($q !== null) {
            $queryParams['q'] = $this->apiClient->getSerializer()->toQueryValue($q);
        }
        // query params
        if ($sort_by !== null) {
            $queryParams['sort_by'] = $this->apiClient->getSerializer()->toQueryValue($sort_by);
        }
        // query params
        if ($sort_by_order !== null) {
            $queryParams['sort_by_order'] = $this->apiClient->getSerializer()->toQueryValue($sort_by_order);
        }
        // query params
        if ($passed_account_id !== null) {
            $queryParams['passed_account_id'] = $this->apiClient->getSerializer()->toQueryValue($passed_account_id);
        }
        // query params
        if ($passed_user_id !== null) {
            $queryParams['passed_user_id'] = $this->apiClient->getSerializer()->toQueryValue($passed_user_id);
        }
        // query params
        if ($view_id !== null) {
            $queryParams['view_id'] = $this->apiClient->getSerializer()->toQueryValue($view_id);
        }
        // query params
        if ($client_id !== null) {
            $queryParams['client_id'] = $this->apiClient->getSerializer()->toQueryValue($client_id);
        }
        // query params
        if ($client_secret !== null) {
            $queryParams['client_secret'] = $this->apiClient->getSerializer()->toQueryValue($client_secret);
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Ticket[]',
                '/tickets'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Ticket[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Ticket[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postMessages
     *
     * @param \Swagger\Client\Model\Ticket $body The request body for the operation (required)
     * @param string $ticket_id  (required)
     * @param string $authentication_token User athentication (optional)
     * @param string $client_id api client (optional)
     * @param string $client_secret api secret (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function postMessages($body, $ticket_id, $authentication_token = null, $client_id = null, $client_secret = null)
    {
        list($response) = $this->postMessagesWithHttpInfo($body, $ticket_id, $authentication_token, $client_id, $client_secret);
        return $response;
    }

    /**
     * Operation postMessagesWithHttpInfo
     *
     * @param \Swagger\Client\Model\Ticket $body The request body for the operation (required)
     * @param string $ticket_id  (required)
     * @param string $authentication_token User athentication (optional)
     * @param string $client_id api client (optional)
     * @param string $client_secret api secret (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function postMessagesWithHttpInfo($body, $ticket_id, $authentication_token = null, $client_id = null, $client_secret = null)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling postMessages');
        }
        // verify the required parameter 'ticket_id' is set
        if ($ticket_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $ticket_id when calling postMessages');
        }
        // parse inputs
        $resourcePath = "/tickets/{ticket_id}/messages";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($authentication_token !== null) {
            $queryParams['authentication_token'] = $this->apiClient->getSerializer()->toQueryValue($authentication_token);
        }
        // query params
        if ($client_id !== null) {
            $queryParams['client_id'] = $this->apiClient->getSerializer()->toQueryValue($client_id);
        }
        // query params
        if ($client_secret !== null) {
            $queryParams['client_secret'] = $this->apiClient->getSerializer()->toQueryValue($client_secret);
        }
        // path params
        if ($ticket_id !== null) {
            $resourcePath = str_replace(
                "{" . "ticket_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($ticket_id),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/tickets/{ticket_id}/messages'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation postTickets
     *
     * @param \Swagger\Client\Model\TicketMessage[] $body The request body for the operation (required)
     * @param float $authentication_token User athentication uuid (optional)
     * @param string $client_id  (optional)
     * @param string $client_secret  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Ticket
     */
    public function postTickets($body, $authentication_token = null, $client_id = null, $client_secret = null)
    {
        list($response) = $this->postTicketsWithHttpInfo($body, $authentication_token, $client_id, $client_secret);
        return $response;
    }

    /**
     * Operation postTicketsWithHttpInfo
     *
     * @param \Swagger\Client\Model\TicketMessage[] $body The request body for the operation (required)
     * @param float $authentication_token User athentication uuid (optional)
     * @param string $client_id  (optional)
     * @param string $client_secret  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Ticket, HTTP status code, HTTP response headers (array of strings)
     */
    public function postTicketsWithHttpInfo($body, $authentication_token = null, $client_id = null, $client_secret = null)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling postTickets');
        }
        // parse inputs
        $resourcePath = "/tickets";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($authentication_token !== null) {
            $queryParams['authentication_token'] = $this->apiClient->getSerializer()->toQueryValue($authentication_token);
        }
        // query params
        if ($client_id !== null) {
            $queryParams['client_id'] = $this->apiClient->getSerializer()->toQueryValue($client_id);
        }
        // query params
        if ($client_secret !== null) {
            $queryParams['client_secret'] = $this->apiClient->getSerializer()->toQueryValue($client_secret);
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Ticket',
                '/tickets'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Ticket', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Ticket', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation putTickets
     *
     * @param \Swagger\Client\Model\Ticket[] $body The request body for the operation (required)
     * @param bool $authentication_token User athentication uuid (optional)
     * @param string $client_id  (optional)
     * @param string $client_secret  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Ticket[]
     */
    public function putTickets($body, $authentication_token = null, $client_id = null, $client_secret = null)
    {
        list($response) = $this->putTicketsWithHttpInfo($body, $authentication_token, $client_id, $client_secret);
        return $response;
    }

    /**
     * Operation putTicketsWithHttpInfo
     *
     * @param \Swagger\Client\Model\Ticket[] $body The request body for the operation (required)
     * @param bool $authentication_token User athentication uuid (optional)
     * @param string $client_id  (optional)
     * @param string $client_secret  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Ticket[], HTTP status code, HTTP response headers (array of strings)
     */
    public function putTicketsWithHttpInfo($body, $authentication_token = null, $client_id = null, $client_secret = null)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling putTickets');
        }
        // parse inputs
        $resourcePath = "/tickets";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($authentication_token !== null) {
            $queryParams['authentication_token'] = $this->apiClient->getSerializer()->toQueryValue($authentication_token);
        }
        // query params
        if ($client_id !== null) {
            $queryParams['client_id'] = $this->apiClient->getSerializer()->toQueryValue($client_id);
        }
        // query params
        if ($client_secret !== null) {
            $queryParams['client_secret'] = $this->apiClient->getSerializer()->toQueryValue($client_secret);
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Ticket[]',
                '/tickets'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Ticket[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Ticket[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
